:root {
  --PrimaryColor: #9a8478;
  --TertiaryColor: #1e130c;
  --SecondaryColor: #ad8a63;
  --QuaternaryColor: #d0f76e;
  --BGColor: #d9d6d6;
  --NavBarColor: transparent;
  --TextGenericColor: #020217;

  --HomeLightColor1: #423f12;
  --HomeLightColor2: #2c110b;
  --HomeLightColor3: #020217a5;
}
