:root {
  // --PrimaryColor: #c6f646;
  // --SecondaryColor: #61cbb0;
  // --TertiaryColor: #c6f646;

  //   background: #1e130c;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --PrimaryColor: #9a8478;
  --TertiaryColor: #1e130c;
  // --SecondaryColor: #e7c983;
  --SecondaryColor: #ad8a63;
  --QuaternaryColor: #332014a2;
  --BGColor: #d9d6d6;

  // --BGColor: #f6f8cf;
  // --BGColor: #1c172b;
  --NavBarColor: transparent;

  --TextGenericColor: #020217;
}
