.GlobalNav {
  position: relative;
  z-index: 5;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logoContainer,
  ul {
    position: relative;
    margin: 0px 3%;
  }
  ul {
    width: 50%;
  }

  .logoContainer {
    cursor: pointer;
    width: 110px;
    height: 80%;
    @include alignCenter;

    p {
      margin-left: 10px;
      color: var(--SecondaryColor);
    }

    svg {
      max-width: 40px;
      max-height: 40px;
      fill: var(--SecondaryColor);
    }
  }

  .burguer {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    right: 40px;
    visibility: hidden;
    border-radius: 50%;
    @include alignCenter;
    flex-direction: column;

    div {
      // border: 2px solid blue;
      position: relative;
      margin: 3px 0px;
      transition: transform 500ms, opacity 500ms;
      position: relative;
      width: 60%;
      height: 4px;
      // background-color: var(--BGColor);
      background: linear-gradient(
        to right,
        var(--PrimaryColor),
        var(--SecondaryColor)
      );
    }
  }
}

.transparentNav {
  // background-color: transparent;
  background-color: var(--NavBarColor);
  transition: background-color 1s;

  ul {
    height: 90%;
    list-style: none;
    @include alignCenter;
    flex-direction: row;
    justify-content: space-around;

    li {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      padding: 10px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--SecondaryColor);
        transform: translateX(-105%);
        transition: transform 500ms;
      }

      a {
        transition: color 500ms;
      }

      &:hover {
        a {
          transition: color 500ms;
          color: var(--SecondaryColor);
        }

        &::after {
          transition: transform 500ms;
          transform: translateX(0%);
        }
      }
    }

    .logRegisterItem {
      @include GenericButtonStyle(var(--SecondaryColor));
      padding: 5px 8px;
    }
  }
}

.gradientNav {
  background-color: transparent;
  transition: background-color 1s;

  ul {
    height: 90%;
    list-style: none;
    @include alignCenter;
    flex-direction: row;
    justify-content: space-around;

    li {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      padding: 10px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--SecondaryColor);
        transform: translateX(-105%);
        transition: transform 500ms;
      }

      a {
        transition: color 500ms;
      }

      &:hover {
        a {
          transition: color 500ms;
          color: var(--SecondaryColor);
        }

        &::after {
          transition: transform 500ms;
          transform: translateX(0%);
        }
      }
    }

    .logRegisterItem {
      padding: 5px 15px;
      @include GenericButtonStyle(var(--SecondaryColor));
    }
  }
}

@media (max-width: 1000px) {
  .GlobalNav {
    .burguer {
      visibility: visible;
    }

    .xBurguer {
      border-radius: 50%;
      border: 1px solid var(--SecondaryColor);

      .line1 {
        transform: translateY(10.2px) rotate(315deg);
      }
      .line2 {
        opacity: 0;
      }
      .line3 {
        transform: translateY(-10.2px) rotate(-315deg);
      }
    }

    ul {
      top: 70px;
      right: 0;
      position: absolute;
      margin: 0;
      width: 300px;
      height: calc(100vh - 70px);
      background-color: hsla(240, 84%, 5%, 0.6);
      backdrop-filter: blur(15px);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        margin: 10px 0px;
        height: 60px;
        width: 100%;
        @include alignCenter;
        justify-content: flex-start;
        border: 2px solid transparent;

        a {
          color: white;
          padding: 0px 10%;
          font-size: 1rem;
        }
      }
    }
  }

  .NavDisplayed {
    transform: translateX(0px);
    transition: transform 500ms;
  }
  .NavHidden {
    transform: translateX(300px);
    transition: transform 500ms;
  }

  .transparentNav {
    ul {
      .logRegisterItem {
        border: 2px solid transparent;
        background-color: transparent !important;
        border-bottom: 1px solid var(--TertiaryColor) !important;
      }

      li {
        border-bottom: 1px solid var(--SecondaryColor) !important;
      }
    }
  }
}
