@keyframes slideRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-35%);
  }
}

.IndexPage {
  scroll-behavior: smooth;

  section {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
  }

  .InitBlock {
    display: flex;
    flex-wrap: wrap;

    .bgBoxes {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;

      span {
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: var(--PrimaryColor);
        opacity: 0;
      }
    }

    .leftContainer,
    .rightContainer {
      flex: 1;
      @include alignCenter;
    }

    .leftContainer {
      .hexagon1 {
        position: absolute;
        z-index: 3;
        width: 550px;
        height: 317.54px;
        background-color: var(--PrimaryColor);
        margin: 158.77px 0;
      }

      .hexagon1:before,
      .hexagon1:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 275px solid transparent;
        border-right: 275px solid transparent;
      }

      .hexagon1:before {
        bottom: 100%;
        border-bottom: 158.77px solid var(--PrimaryColor);
      }

      .hexagon1:after {
        top: 100%;
        width: 0;
        border-top: 158.77px solid var(--PrimaryColor);
      }

      .hexagon2 {
        position: relative;
        width: 580px;
        height: 334.86px;
        background-color: var(--SecondaryColor);
        margin: 167.43px 0;
        z-index: 2;
      }

      .hexagon2:before,
      .hexagon2:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 290px solid transparent;
        border-right: 290px solid transparent;
      }

      .hexagon2:before {
        bottom: 100%;
        border-bottom: 167.43px solid var(--SecondaryColor);
      }

      .hexagon2:after {
        top: 100%;
        width: 0;
        border-top: 167.43px solid var(--SecondaryColor);
      }

      .hexagon3 {
        position: relative;
        width: 610px;
        height: 352.18px;
        background-color: var(--TertiaryColor);
        margin: 176.09px 0;
        z-index: 1;
      }

      .hexagon3:before,
      .hexagon3:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 305px solid transparent;
        border-right: 305px solid transparent;
      }

      .hexagon3:before {
        bottom: 100%;
        border-bottom: 176.09px solid var(--TertiaryColor);
      }

      .hexagon3:after {
        top: 100%;
        width: 0;
        border-top: 176.09px solid var(--TertiaryColor);
      }

      .hexagon1,
      .hexagon2,
      .hexagon3 {
        position: absolute;
        opacity: 1;
        margin-left: 15px;
      }

      .AnimationContainer {
        width: 100%;
        height: 100%;
        z-index: 4;
        @include alignCenter;

        > * {
          transform: scale(1.5);
        }
      }
    }

    .rightContainer {
      flex-direction: column;

      > * {
        position: relative;
        margin: 40px 15%;
      }

      h1 {
        @include GradientColorText(
          var(--PrimaryColor),
          var(--TertiaryColor),
          left
        );
      }

      p {
        text-align: left;
        line-height: 30px;
      }

      .buttonsBox {
        @include alignCenter;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        width: 70%;

        button {
          color: var(--TextGenericColor);
          padding: 20px 40px;
          margin: 0px 15px;
          font-weight: bolder;

          &:nth-child(1) {
            @include GenericButtonStyle(var(--TertiaryColor));
          }

          &:nth-child(2) {
            @include GenericButtonStyle(var(--PrimaryColor));
          }
        }
      }
    }
  }

  .SecondBlock {
    @include alignCenter;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      @include GradientColorText(
        var(--PrimaryColor),
        var(--TertiaryColor),
        bottom
      );
      text-align: center;
      margin: 2.5% 0px;
    }

    .mainContainer,
    .bottomContainer {
      // border: 1px solid lightcoral;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .mainContainer {
      height: 50%;
      .leftContainer,
      .rightContainer {
        flex: 1 1;
        @include alignCenter;
        max-height: 100%;
      }

      .leftContainer {
        > * {
          position: absolute;
          transform: scale(0.8);
        }
      }
      .rightContainer {
        @include alignCenter;

        p {
          margin: 0px 45px;
          line-height: 40px;
        }
      }
    }

    .bottomContainer {
      position: relative;
      overflow: hidden;
      height: 18%;

      .slider {
        position: relative;
        height: 100%;
        @include alignCenter;
        flex-direction: row;
        animation: slideRight 20s linear infinite alternate;
        background: linear-gradient(
          to right,
          var(--PrimaryColor),
          var(--TertiaryColor)
        );

        > * {
          height: 100%;
          margin: 0px 20px;
          padding: 0px 20px;
          // border: 1px solid lightcoral;
          @include alignCenter;
        }
      }
    }
  }

  .ThirdBlock {
    display: flex;
    flex-wrap: wrap;

    .leftContainer,
    .rightContainer {
      @include alignCenter;
      justify-content: space-around;
      flex-direction: column;
      flex: 1 1;

      h1 {
        margin: 0px 10%;
        @include GradientColorText(
          var(--PrimaryColor),
          var(--TertiaryColor),
          right
        );
      }

      .dataBox {
        width: 80%;
        height: 60%;

        > * {
          width: 100%;
        }

        h2 {
          @include alignCenter;
          height: 10%;
        }

        ul {
          @include alignCenter;
          flex-direction: column;
          align-items: flex-start;
          list-style: none;
          justify-content: space-around;
          height: 90%;
        }
      }
    }

    .rightContainer {
      position: relative;
      overflow-x: hidden;
      overflow-y: visible;

      .gltfContainer {
        opacity: 1;
        z-index: 1;
      }

      .hologramBase {
        position: absolute;
        bottom: 5%;
        width: 70%;
        height: 25%;
        opacity: 1;
        // background-color: #58d2fe;
        // box-shadow: 0px -10px 10px #58d2fe;
        border-radius: 50%;
        z-index: 0;
        border-bottom: 20px solid rgb(65, 64, 64);
      }

      .blush {
        position: absolute;
        z-index: 0;
        width: 8%;
        margin-right: 20px;
        height: 70%;
        border-radius: 30%;
        opacity: 1;
        // background-color: #58d2fe;
        // box-shadow: 0px 0px 200px #58d2fe;
      }

      .leftArrow,
      .rightArrow {
        position: absolute;
        width: 40px;
        height: 40px;
        @include alignCenter;
        cursor: pointer;
        z-index: 2;

        svg {
          width: 100%;
          height: 100%;
          fill: white;
          transition: filter 500ms;
        }
      }
      .leftArrow {
        left: 8%;

        svg {
          fill: var(--PrimaryColor);
        }

        &:hover {
          svg {
            transition: filter 500ms;
            filter: drop-shadow(0px 0px 20px var(--PrimaryColor));
          }
        }
      }
      .rightArrow {
        right: 8%;
        svg {
          fill: var(--TertiaryColor);
        }

        &:hover {
          svg {
            transition: filter 500ms;
            filter: drop-shadow(0px 0px 20px var(--TertiaryColor));
          }
        }
      }
    }
  }
}
