@keyframes slideRight {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(80%);
  }
}

.IndexPage {
  scroll-behavior: smooth;

  section {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .InitBlock {
    display: flex;
    flex-wrap: wrap-reverse;

    .bgBoxes {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      @include alignCenter;
      justify-content: flex-end;
      left: 200px;

      > * {
        transform: scale(1.75);
      }

      svg {
        opacity: 0.1;
        background-color: transparent;
      }
    }

    .leftContainer,
    .rightContainer {
      overflow: hidden;
      position: relative;
      flex: 1 1;
      flex-basis: 350px;
      min-height: clamp(50%, 70vw, 100%);
      @include alignCenter;
    }

    .leftContainer {
      @include alignCenter;

      .hexagon1 {
        position: absolute;
        z-index: 0;
        border-radius: 50%;
        width: clamp(50px, 25vw, 400px);
        height: clamp(50px, 25vw, 400px);
        background-color: transparent;
        background: linear-gradient(
          to right,
          var(--PrimaryColor),
          var(--TertiaryColor)
        );
        box-shadow: -50px -50px 80px 25px var(--PrimaryColor),
          50px 50px 80px 25px var(--TertiaryColor),
          -50px 50px 80px 25px var(--PrimaryColor),
          50px -50px 80px 25px var(--TertiaryColor);
      }

      // .hexagon1 {
      //   position: absolute;
      //   z-index: 3;
      //   width: 550px;
      //   height: 317.54px;
      //   background-color: var(--PrimaryColor);
      //   margin: 158.77px 0;
      // }

      // .hexagon1:before,
      // .hexagon1:after {
      //   content: "";
      //   position: absolute;
      //   width: 0;
      //   border-left: 275px solid transparent;
      //   border-right: 275px solid transparent;
      // }

      // .hexagon1:before {
      //   bottom: 100%;
      //   border-bottom: 158.77px solid var(--PrimaryColor);
      // }

      // .hexagon1:after {
      //   top: 100%;
      //   width: 0;
      //   border-top: 158.77px solid var(--PrimaryColor);
      // }

      // .hexagon2 {
      //   position: relative;
      //   width: 580px;
      //   height: 334.86px;
      //   background-color: var(--SecondaryColor);
      //   margin: 167.43px 0;
      //   z-index: 2;
      // }

      // .hexagon2:before,
      // .hexagon2:after {
      //   content: "";
      //   position: absolute;
      //   width: 0;
      //   border-left: 290px solid transparent;
      //   border-right: 290px solid transparent;
      // }

      // .hexagon2:before {
      //   bottom: 100%;
      //   border-bottom: 167.43px solid var(--SecondaryColor);
      // }

      // .hexagon2:after {
      //   top: 100%;
      //   width: 0;
      //   border-top: 167.43px solid var(--SecondaryColor);
      // }

      // .hexagon3 {
      //   position: relative;
      //   width: 610px;
      //   height: 352.18px;
      //   background-color: var(--TertiaryColor);
      //   margin: 176.09px 0;
      //   z-index: 1;
      // }

      // .hexagon3:before,
      // .hexagon3:after {
      //   content: "";
      //   position: absolute;
      //   width: 0;
      //   border-left: 305px solid transparent;
      //   border-right: 305px solid transparent;
      // }

      // .hexagon3:before {
      //   bottom: 100%;
      //   border-bottom: 176.09px solid var(--TertiaryColor);
      // }

      // .hexagon3:after {
      //   top: 100%;
      //   width: 0;
      //   border-top: 176.09px solid var(--TertiaryColor);
      // }

      // .hexagon1,
      // .hexagon2,
      // .hexagon3 {
      //   position: absolute;
      //   opacity: 1;
      //   margin-left: 2%;
      //   margin-top: auto;
      //   margin-bottom: auto;
      //   // inset: 0;
      // }

      .AnimationContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
        @include alignCenter;

        > * {
          width: 100%;
          height: 100%;
          transform: scale(1.4);
        }
      }
    }

    .rightContainer {
      flex-direction: column;
      justify-content: space-evenly;
      align-self: center;

      > * {
        position: relative;
        margin: 0px 15%;
      }

      p {
        text-align: left;
        // line-height: 30px;
      }

      .buttonsBox {
        @include alignCenter;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        width: 70%;

        button,
        a {
          color: var(--TextGenericColor);
          margin: 0px 15px;
          font-weight: bolder;

          &:nth-child(1) {
            @include GenericButtonStyle(var(--TertiaryColor));
          }

          &:nth-child(2) {
            @include GenericButtonStyle(var(--PrimaryColor));
          }
        }
      }
    }
  }

  .SecondBlock {
    @include alignCenter;
    flex-direction: column;
    justify-content: space-evenly;
    background: #d9d6d6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #d9d6d6,
      #e7e5c5,
      #d9d6d6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #d9d6d6,
      #e7e5c5,
      #d9d6d6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .mainContainer,
    .bottomContainer {
      width: 100%;
    }

    .mainContainer {
      height: 70%;
      @include alignCenter;
      flex-direction: row;
      justify-content: center;

      .leftContainer,
      .rightContainer {
        position: relative;
        // @include alignCenter;
        height: 100%;
      }

      .leftContainer {
        width: 40%;
      }

      .rightContainer {
        @include alignCenter;
        flex-direction: column;
        width: 60%;
        justify-content: space-evenly;
        border-left: 2px solid var(--SecondaryColor);

        h1 {
          @include GradientColorText(
            var(--PrimaryColor),
            var(--TertiaryColor),
            bottom
          );
          text-align: center;
        }

        p {
          margin: 0px 45px;
          // line-height: 40px;
        }
      }
    }

    .bottomContainer {
      position: relative;
      overflow: hidden;
      height: 18%;
      // background: linear-gradient(
      //   to right,
      //   var(--PrimaryColor),
      //   var(--TertiaryColor)
      // );
      border: 1px solid white;

      .slider {
        position: relative;
        height: 100%;
        width: 150%;
        @include alignCenter;
        flex-direction: row;
        animation: slideRight 10s linear infinite forwards;
        background-color: transparent;

        > * {
          height: 100%;
          margin: 0px 20px;
          padding: 0px 20px;
          // border: 1px solid lightcoral;
          @include alignCenter;
        }
      }
    }
  }

  .ThirdBlock {
    display: flex;
    flex-wrap: wrap;

    background: #ebd9d5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #d9d6d6,
      #ebd9d5,
      #d9d6d6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #d9d6d6,
      #ebd9d5,
      #d9d6d6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .leftContainer,
    .rightContainer {
      @include alignCenter;
      justify-content: space-around;
      flex-direction: column;
      flex: 1 1;
    }

    .leftContainer {
      h1 {
        margin: 0px 10%;
        @include GradientColorText(
          var(--PrimaryColor),
          var(--TertiaryColor),
          right
        );
        margin-top: 5%;
      }

      p {
        margin: 0px 10%;
      }

      .dataBox {
        width: 80%;
        height: 50%;

        > * {
          width: 100%;
        }

        .h2box {
          height: 20%;
          @include alignCenter;
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;

          h2 {
            margin-right: 10px;
          }
        }

        ul {
          @include alignCenter;
          flex-direction: column;
          align-items: flex-start;
          list-style: none;
          justify-content: space-around;
          height: 90%;

          h3 {
            height: 10%;
          }

          li,
          p {
            height: 50%;
            margin: 0;
            overflow: scroll;
            // line-height: 40px;
          }
        }
      }
    }

    .rightContainer {
      position: relative;
      overflow-x: hidden;
      overflow-y: visible;

      .gltfContainer {
        opacity: 1;
        z-index: 1;
      }

      .hologramBase {
        position: absolute;
        bottom: 5%;
        width: 70%;
        height: 25%;
        opacity: 1;
        // background-color: #58d2fe;
        // box-shadow: 0px -10px 10px #58d2fe;
        border-radius: 50%;
        z-index: 0;
        border-bottom: 20px solid rgb(65, 64, 64);
      }

      .blush {
        position: absolute;
        z-index: 0;
        width: 8%;
        margin-right: 20px;
        height: 70%;
        border-radius: 30%;
        opacity: 1;
        // background-color: #58d2fe;
        // box-shadow: 0px 0px 200px #58d2fe;
      }

      .leftArrow,
      .rightArrow {
        position: absolute;
        width: 40px;
        height: 40px;
        @include alignCenter;
        cursor: pointer;
        z-index: 2;

        svg {
          width: 100%;
          height: 100%;
          fill: white;
          transition: filter 500ms;
        }
      }
      .leftArrow {
        left: 8%;

        svg {
          fill: var(--PrimaryColor);
        }

        &:hover {
          svg {
            transition: filter 500ms;
            filter: drop-shadow(0px 0px 20px var(--PrimaryColor));
          }
        }
      }
      .rightArrow {
        right: 8%;
        svg {
          fill: var(--TertiaryColor);
        }

        &:hover {
          svg {
            transition: filter 500ms;
            filter: drop-shadow(0px 0px 20px var(--TertiaryColor));
          }
        }
      }
    }
  }

  .TeamBlock {
    @include alignCenter;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    background: #cae7e3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #d9d6d6,
      #cae7e3,
      #d9d6d6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #d9d6d6,
      #cae7e3,
      #d9d6d6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h1 {
      // position: relative;
      // @include alignCenter;
      height: 70px;
      // @include alignCenter;

      // justify-content: flex-start;
      // margin-right: auto;
      // margin-left: 10%;
    }

    .membersContainer {
      position: relative;
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      overflow: scroll;

      .Bubble {
        position: relative;
        background-color: var(--SecondaryColor);
        float: left;
        width: clamp(200px, 20vw, 251px);
        height: clamp(200px, 20vw, 251px);
        border-radius: 50%;
        margin: 10px 25px;
        @include alignCenter;

        .insideBubble {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.968);
          @include alignCenter;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          border: 2px solid var(--SecondaryColor);
          transition: transform 500ms;

          img {
            transition: opacity 500ms;
          }

          > * {
            position: absolute;
          }

          .membersName {
            width: 100%;
            height: 30%;
            bottom: 0;
            background-color: hsla(0, 0%, 100%, 0.7);
            @include alignCenter;
            flex-direction: column;
            justify-content: center;
            transition: transform 500ms;
            transform: translateY(100px);

            p {
              font-size: 1rem;
              color: black;
            }

            p:nth-child(2) {
              font-weight: bolder;
            }
          }
          .membersSocials {
            top: 0;
            width: 100%;
            height: 35%;
            @include alignCenter;
            flex-direction: row;
            justify-content: space-around;
            background-color: transparent;

            .svgBox {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              @include alignCenter;
              transform: translateY(-80px);
              cursor: pointer;
              transition: transform 500ms, background-color 250ms;

              svg {
                width: 60%;
                height: 60%;
                fill: white;
                transition: fill 300ms;
              }

              &:hover {
                background-color: white;
                transition: background-color 500ms;

                svg {
                  transition: fill 300ms;
                }
              }
            }

            .linkedinBox {
              background-color: rgb(32, 116, 225);
              -webkit-transition-delay: 300ms;
              -moz-transition-delay: 300ms;
              -o-transition-delay: 300ms;
              transition-delay: 300ms;
              &:hover {
                svg {
                  fill: rgb(32, 116, 225);
                }
              }
            }
            .instagramBox {
              background-color: rgb(223, 62, 124);
              -webkit-transition-delay: 200ms;
              -moz-transition-delay: 200ms;
              -o-transition-delay: 200ms;
              transition-delay: 200ms;
              &:hover {
                svg {
                  fill: rgb(223, 62, 124);
                }
              }
            }
            .twitterBox {
              background-color: rgb(83, 232, 229);
              -webkit-transition-delay: 100ms;
              -moz-transition-delay: 100ms;
              -o-transition-delay: 100ms;
              transition-delay: 100ms;
              &:hover {
                svg {
                  fill: rgb(83, 232, 229);
                }
              }
            }
          }
        }

        &:hover {
          .insideBubble {
            transform: translate(-10px, -10px);
            transition: transform 500ms;

            img {
              transition: opacity 500ms;
              opacity: 0.5;
            }

            .membersName {
              transition: transform 500ms;
              transform: translateY(-25px);
            }
            .membersSocials {
              .svgBox {
                transition: transform 500ms, background-color 250ms;
              }

              .linkedinBox {
                transform: translate(17px, 30px);
                -webkit-transition-delay: 100ms;
                -moz-transition-delay: 100ms;
                -o-transition-delay: 100ms;
                transition-delay: 100ms;
              }
              .instagramBox {
                transform: translateY(-5px);
                -webkit-transition-delay: 200ms;
                -moz-transition-delay: 200ms;
                -o-transition-delay: 200ms;
                transition-delay: 200ms;
              }
              .twitterBox {
                transform: translate(-17px, 30px);
                -webkit-transition-delay: 300ms;
                -moz-transition-delay: 300ms;
                -o-transition-delay: 300ms;
                transition-delay: 300ms;
              }
            }
          }
        }
      }
    }
  }

  .Footer {
    @include alignCenter;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-top: clamp(10px, 5vw, 100px);

    .listsContainer {
      width: 100%;
      height: 40%;
      display: flex;
      flex-wrap: wrap;

      ul {
        flex: 1 1;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h3 {
          margin-bottom: 20px;
          @include GradientColorText(
            var(--PrimaryColor),
            var(--TertiaryColor),
            top
          );
        }

        li {
          cursor: pointer;
          &:hover {
            color: var(--SecondaryColor);
          }
        }
      }
    }

    .Footersfooter {
      width: 100%;
      height: 20%;
      background-color: transparent;
      @include alignCenter;
      border-top: 1px solid var(--SecondaryColor);

      p {
        color: var(--BackgroundColor);
        font-weight: bolder;
        @include GradientColorText(
          var(--PrimaryColor),
          var(--TertiaryColor),
          left
        );
      }
    }
  }
}
