.investingContainer {
    height: 60vh;
    margin: 0px 50px 20px 50px;
    width: 350px;
    display: flex;
    color: black;
    flex-direction: column;
    background: rgb(59,113,170);
    background: -moz-linear-gradient(45deg, rgba(59,113,170,1) 24%, rgba(115,191,178,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(59,113,170,1) 24%, rgba(115,191,178,1) 100%);
    background: linear-gradient(45deg, rgba(59,113,170,1) 24%, rgba(115,191,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b71aa",endColorstr="#73bfb2",GradientType=1);
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    @include alignCenter;
    .titleContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 50px;
        margin-top: 20px;
        color: black;
        .investingTitle {
            display: flex;
            font-size: 25px;
        }
    }
    .infoText {
        text-align: justify;
        margin: 5px 15px 0px 15px ;
        color:black;
        font-size: 12px;
        line-height: 20px;
    }
    .landLoc {
        margin: 0px 0px 0px 15px;
        font-size: small;
        display: flex;
        align-self: flex-start;
    }
    .imageHeader {
        text-align: center;
        padding: 5px;
        width: 100%;
        height: 20px;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        font-size: 8px;
    }
    .infoContainer {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        height: 50px;
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        p {
            font-size: 20px;
            margin: 0px 30px 0px 30px ;
        }
    }
    .timeToInvest {
        margin: 0px 0px 0px 0px;
        font-size: 15px;
        p {
            font-size: 12px;
        }
    }
    .buttonDiv {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .mintButton {
            align-self: flex-end;
            margin: 5px;
            width: 45%;
            height: 40px;
            background: white;
            border-style: solid;
            border-radius: 15px;
            border-color: #7cbeb5;
            border-width: 3px;
            font-size: 12px;
            justify-content: center;
            color: black;
        }
        .infoButton {
            align-self: flex-start;
            margin: 5px;
            width: 45%;
            height: 40px;
            background: white;
            border-style: solid;
            border-radius: 15px;
            border-color: #6ea875;
            border-width: 3px;
            font-size: 12px;
            justify-content: center;
            color: black;
        }
    }
}