@import "./themes/colors";

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--BGColor);
  /* --PrimaryColor: #2271b3;
  --SecondaryColor: #6fb544; */
  /* #050a30 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

#LinkPage {
  z-index: 0;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button {
  color: var(--TextGenericColor);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p,
button,
input {
  font-size: 1rem;
}
