// Themes (Global variables used for theme and styling)
@import "./themes/functions";
@import "./themes/colors";

// Pages and Components Styling
@import "./modules/globalNavBar";
@import "./modules//homePage";
@import "./modules/logRegisterPage";
@import "./modules/dashboard";
@import "./modules/playground";
@import "./modules/landsPage";
@import "./modules/scoreboardPage";

// Responsive CSS
@import "./responsive/mobileOpt";

.mintPage {
  @include alignCenter;

  button {
    height: 300px;
    // @include GradientColorText(
    //   right,
    //   var(--PrimaryColor),
    //   var(--TertiaryColor)
    // );
    text-align: center;
    padding: 0px 40px;
    background: linear-gradient(
      to right,
      var(--PrimaryColor),
      var(--TertiaryColor)
    );
    color: white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 2rem;
  }
}
